
.itemCard {
    width: 100%;
}

.qtyProd {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: .5rem;
}

.qtyProd button {
    background: var(--color-primario);
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: none;
    font-size: 1.5rem;
    color: #fdfdfc;
}

.qtyProd button[disabled] {
    background: rgb(210, 210, 210);
}

.qtyProd input {
    text-align: center;
    font-size: 1.6rem;
    border:none;
    width: 40%;
}