
.itemCard {
    width: 100%;
}
.container_itemCard:last-child {
    padding-top: 1.3rem;
}
.itemCard h3 {
    font-size: 1.2rem;
    padding: .5rem 0 0 0;
}

.itemCard p {
    width: 80%;
    margin: 0 auto;
    padding: .5rem 0;
}

.qtyProd {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: .5rem;
}

.qtyProd button.countProd {
    background: var(--color-primario);
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: none;
    font-size: 1.5rem;
    color: #fdfdfc;
}

.qtyProd button[disabled].countProd {
    background: rgb(210, 210, 210);
}

.qtyProd input {
    text-align: center;
    font-size: 1.6rem;
    border:none;
    width: 40%;
}