
.productosDestacados {
    width: 90%;
    margin: 0 auto;
}

.productosDestacados h1 {
    width: 100%;
    text-align: center;
    padding: 1.3rem 0;
}
.productosDestacados ul {
    display: flex;
    flex-flow: row wrap;
}
.productosDestacados ul li {
    width: 20%;
    text-align: center;
    margin: 0 auto;
}